#dp{
  border-radius: 50%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#siteSubHeading {
  margin-top: 10px;
  margin-bottom: 10px;
}
